*.log
*.~
*.swp

## PARAVIEW FILES ##
*.vtk
*.vtu
*.pvd

## PARALLEL/SEQUENTIAL VERSION FILES ##
Main.edp
Mesh.edp
Macros.edp
Parameters.edp
PostProcessor.edp
MeshPartitioning.edp
VariationalFormulations.edp
LinearFormBuilderAndSolver.edp
BoundaryAndSourceConditions.edp

## SHARED OBJECT FILES ##
*.o
*.so

## PLOTTING DATA FILES ##
*.data
