*.log
*.~
*.swp

## PARAVIEW FILES ##
*.vtk
*.vtu
*.pvd

## PARALLEL/SEQUENTIAL VERSION FILES ##
Main.edp
Macros.edp
Parameters.edp
PostProcessor.edp
MeshAndFeSpace.edp
VariationalFormulations.edp
LinearFormBuilderAndSolver.edp
BoundaryAndSourceConditions.edp

## SHARED OBJECT FILES ##
*.o
*.so

## PLOTTING DATA FILES ##
*.data

## FILES FOR CLUSTER ##
launch.sh

## TEST  FILE ##
test*
