*.log
*.~
*.swp

## PARAVIEW FILES ##
*.vtk
*.vtu
*.pvd

## PARALLEL/SEQUENTIAL VERSION FILES ##
macros.edp
meshPartitioning.edp
varfmatsolve.edp
parameters.edp
mesh.edp
main.edp

## SHARED OBJECT FILES ##
*.o
*.so
